#acerca-de {
    padding: 13.5rem 2rem;
    background-image: url("../img/hola.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.card-body:hover {
    box-shadow: 0px 0px 60px rgba(0,0,0,1);
}

.iconos {
    width: 6em;
    height: auto;
    margin-left: 1em;
    margin-bottom: 1em;
    border-radius: 25%;
}

.iconos:hover{
    box-shadow: 0px 0px 30px rgba(0,0,0,1);
    transform: scale(1.1);
    transition: 0.5s;
}

.iconos:hover > :not(:hover){
    opacity: 0.3;
}

.im-grids {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
}




/*CSS de prueba*/
#test {
    height: 100%;
}


.empty:hover {
    border-color: black;
    transform: scale(1.2);
    transition: 1s;
}