#acerca-de {
    padding: 13.5rem 2rem;
    /* background-image: url("../img/hola.jpg"); */
    background-attachment: fixed;
    background-size: cover;
}

#acerca-de {
    height: 100vh;
    width: 100wh;
}

#contacto article {
    height: 40vh;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-template-rows: repeat(4, 1fr);
}

#perfil {
    height: 45vh;
    width: auto;
    grid-row: 1/5;
    grid-column: 2/3;
}

#hola {
    grid-row: 1/2;
    color: rgb(241, 226, 12);
}

#nombre {
    grid-row: 2/3;
}

#inge {
    grid-row: 3/4;
    color: rgb(143, 130, 190);
}

#contacto article div {
    grid-row: 4/5;
}

.descripcion {
    font-size: 5vh;
}

.iconos-portada {
    width: 5em;
    height: auto;
    margin-left: 1em;
    margin-bottom: 1em;
    border-radius: 25%;
}

#formacion {
    font-size: 2vh;
}

h2 {
    margin-top: 10vh;
    margin-left: 2vh;
    font-size: 3.5vh;
}

h5 {
    font-size: 2.7vh;
}

.card {
    height: 100%;
}

.card:hover {
    box-shadow: 0px 0px 60px rgba(193, 238, 109, 0.808);
    transform: scale(1.045);
    transition: 0.5s;
}

.iconos {
    width: 6em;
    height: auto;
    margin-left: 1em;
    margin-bottom: 1em;
    border-radius: 25%;
}

.iconos:hover{
    box-shadow: 0px 0px 30px rgba(0,0,0,1);
    transform: scale(1.1);
    transition: 0.5s;
}

.iconos:hover > :not(:hover){
    opacity: 0.3;
}

.extra {
    font-size: 2.5vh;
}
