#acerca-de {
    padding: 13.5rem 2rem;
    background-image: url("../img/hola.jpg");
    background-attachment: fixed;
    background-size: cover;
}

#acerca-de {
    height: 100vh;
    width: 100wh;
}

.descripcion {
    font-size: 3em;
}

#hola {
    color: rgb(241, 226, 12);
}

.iconos-portada {
    width: 3em;
    height: auto;
    margin-left: 1em;
    margin-bottom: 1em;
    border-radius: 25%;
}

h2 {
    margin: 2vh;
}

.card {
    height: 100%;
}

.card:hover {
    box-shadow: 0px 0px 60px rgba(193, 238, 109, 0.808);
    transform: scale(1.045);
    transition: 0.5s;
}

.iconos {
    width: 6em;
    height: auto;
    margin-left: 1em;
    margin-bottom: 1em;
    border-radius: 25%;
}

.iconos:hover{
    box-shadow: 0px 0px 30px rgba(0,0,0,1);
    transform: scale(1.1);
    transition: 0.5s;
}

.iconos:hover > :not(:hover){
    opacity: 0.3;
}
