#acerca-de {
    padding: 13.5rem 2rem;
    background-image: url("../img/hola.jpg");
    background-attachment: fixed;
    background-size: cover;
}

.icons {
    width: 3em;
    height: 3em;
    margin-left: 1em;
    margin-right: 3em;
    margin-bottom: 3em;
    border-radius: 30%;
}