body {
  scroll-behavior: smooth;
}

#acerca-de {
  padding-top: 7rem;
  min-height: 100vh;
  max-width: 100wh;
}

#contacto article {
  height: auto;
}

#perfil {
  height: 35vh;
  width: auto;
}

#hola {
  color: rgb(241, 226, 12);
}

#nombre {
  grid-row: 2/3;
}

#inge {
  color: rgb(143, 130, 190);
}

#btnpdf {
  margin-top: 5vh;
  font-size: 2.5em;
  font-weight: lighter;
  color: rgb(69, 196, 133);
}

#btnpdf:hover {
  box-shadow: 0px 0px 30px rgb(106, 50, 128);
  transition: 0.5s;
}

.descripcion {
  font-size: 5vh;
}

#presentacion {
  font-size: xx-large;
}

.iconos-portada {
  width: 5em;
  height: auto;
  margin-left: 1em;
  margin-bottom: 1em;
  border-radius: 25%;
}

.iconos-portada:hover {
  box-shadow: 0px 0px 30px rgb(54, 166, 211);
  transform: scale(1.1);
  transition: 0.6s;
}

#formacion {
  font-size: 2vh;
}

h2 {
  margin-top: 10vh;
  margin-left: 2vh;
  font-size: 3.5vh;
}

h5 {
  font-size: 2.7vh;
}

.card {
  min-height: 100%;
}

.card:hover {
  box-shadow: 0px 0px 60px rgba(149, 39, 177, 0.808);
  transform: scale(1.045);
  transition: 0.7s;
}

.iconos {
  width: 6em;
  height: auto;
  margin-left: 1em;
  margin-bottom: 1em;
  border-radius: 25%;
}

.iconos:hover {
  box-shadow: 0px 0px 30px rgb(7, 71, 114);
  transform: scale(1.1);
  transition: 0.6s;
}

.iconos:hover > :not(:hover) {
  opacity: 0.3;
}

.extra {
  font-size: 2.5vh;
}
